/* Navbar Styles */
.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #141414;
    padding: 10px 20px;
    color: white;
}

.header .logo h1 {
    font-size: 24px;
    font-weight: bold;
}

.nav ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.nav ul li {
    margin: 0 15px;
}

.nav ul li a {
    text-decoration: none;
    color: white;
    font-size: 18px;
    transition: color 0.3s;
}

.nav ul li a.active, .nav ul li a:hover {
    color: #e50914;
}

.search-avatar {
    display: flex;
    align-items: center;
}

.search-avatar input {
    padding: 5px 10px;
    font-size: 16px;
    border: 1px solid #333;
    background-color: #222;
    color: white;
    margin-right: 10px;
    border-radius: 4px;
}

.search-avatar .avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    cursor: pointer;
}

/* Modal Styles */
.modal {
    display: none; /* Caché par défaut */
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.5);
}

.modal-content {
    background-color: #fff;
    margin: 15% auto;
    padding: 20px;
    border-radius: 8px;
    width: 30%;
    text-align: center;
}

.modal-content ul {
    list-style: none;
    padding: 0;
}

.modal-content ul li {
    margin: 10px 0;
}

.modal-content ul li a {
    text-decoration: none;
    color: #333;
    font-size: 16px;
}

.close {
    color: #aaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
}
