* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  color: white;
}

.container {
  width: 1440px;
  margin: 0 auto;
  border: 1px solid black;
  background-color: black;
}

nav {
  height: 5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.leftside {
  display: flex;
  justify-content: space-between;
  width: 25rem;
}

nav h2 span {
  color: red;
}
nav ul {
  display: flex;
  justify-content: space-between;
  width: 13rem;
}
nav ul li {
  list-style-type: none;
}
nav ul li a {
  text-decoration: none;
}
